h1 {
    text-align: center;
    color:blueviolet;
    font-family: 'Permanent Marker', cursive;

}
body {
color: rgb(173, 21, 97);
text-align:initial;
text-decoration:dashed;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Comments*/